<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Home | Accessible IT Group</title>
  <link type="text/css" rel="stylesheet" href="styles.css" />
</head>

<body>
  <header>
    <div class="banner">
      <div class="banner-row-1">
        <div class="banner-logo">
          <a href="https://illinois.edu">
            <img src="illinois-wordmark.png" alt="Illinois">
          </a>
        </div>
      </div>
      <div class="banner-row-2">
        <div class="banner-aitg">ACCESSIBLE IT GROUP</div>
        <nav class="banner-menu">
          <ul>
            <li class="menu-item"><a href="#">Training</a></li>
            <li class="menu-item"><a href="#">Tools</a></li>
            <li class="menu-item"><a href="#">Outreach</a></li>
            <li class="menu-item"><a href="#">Universal Design</a></li>
            <li class="menu-item"><a href="#">About</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>
    <div class="content">
      <h2>Tools Overview</h2>
    </div>
  </main>
</body>
</html>
