<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Home | Accessible IT Group</title>
  <link type="text/css" rel="stylesheet" href="styles.css" />
</head>

<body>
  <header>
    <div class="banner">
      <div class="banner-row-1">
        <div class="banner-logo">
          <a href="https://illinois.edu">
            <img src="illinois-wordmark.png" alt="Illinois">
          </a>
        </div>
      </div>
      <div class="banner-row-2">
        <div class="banner-aitg">ACCESSIBLE IT GROUP</div>
        <nav class="banner-menu">
          <ul>
            <li><a class="menu-button" href="#">Training</a></li>
            <li><a class="menu-button" href="#">Tools</a></li>
            <li><a class="menu-button" href="#">Outreach</a></li>
            <li><a class="menu-button" href="#">Universal Design</a></li>
            <li><a class="menu-button" href="#">About</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>
    <div class="content">
      <h2>Tools Overview</h2>
    </div>
  </main>
</body>
</html>

<!--
<svg class="icon-chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
    <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
</svg>
-->
