<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Home | Accessible IT Group</title>
  <link type="text/css" rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,700" />
</head>

<body>
  <header>
    <div class="banner">
      <div class="banner-row-1">
        <div class="banner-logo">
          <a href="https://illinois.edu">
            <img src="illinois-wordmark.png" alt="Illinois">
          </a>
        </div>
        <div class="banner-search">
          <input type="text" size="20" maxlength="128" placeholder="Search" title="Search AITG Pages">
          <button type="image" alt="Submit Query">
        </div>
      </div>
      <div class="banner-row-2">
        <div class="banner-aitg"><a href="#">ACCESSIBLE IT GROUP</a></div>
        <nav class="banner-menu">
          <ul>
            <li><a class="menu-button" href="#"><span class="chevron-down">Training</span></a></li>
            <li><a class="menu-button" href="#"><span class="chevron-down">Tools</a></li>
            <li><a class="menu-button" href="#"><span class="chevron-down">Outreach</a></li>
            <li><a class="menu-button" href="#"><span class="chevron-down">Universal Design</a></li>
            <li><a class="menu-button" href="#"><span class="chevron-right">About</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main class="flex-row">
    <div class="left-column">
    </div>
    <div class="content">
      <h1>Badging Courses</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum lacus. Phasellus bibendum dolor vitae tellus sagittis congue. Pellentesque lobortis lacinia nunc volutpat dignissim. Suspendisse pellentesque fermentum dui, at mollis erat condimentum id. Donec quis sollicitudin eros, sed imperdiet justo. Phasellus convallis sem at diam dapibus vestibulum. Praesent lobortis pellentesque eros vel iaculis.</p>

      <p>Pellentesque erat dui, pretium vel ultrices a, semper in enim. Duis eleifend augue ut ex scelerisque, ut sollicitudin ipsum scelerisque. Vivamus pellentesque quam at enim auctor, nec aliquet nibh congue. Mauris hendrerit odio ipsum, volutpat eleifend enim pulvinar nec. In vulputate nulla quis congue egestas. Pellentesque pellentesque libero pulvinar risus feugiat, a mattis urna efficitur. Curabitur quis mauris turpis.</p>

      <p>Donec congue mollis luctus. Fusce interdum magna eu eros interdum, sit amet tempor ex fermentum. Morbi scelerisque mollis fringilla. Aliquam lacinia erat eget augue semper, id pharetra odio consectetur. Duis et egestas augue. Nulla tincidunt porttitor lacus, sit amet efficitur sapien luctus eu. Vestibulum aliquam ante non dolor gravida, sed ultricies nulla mattis. Vivamus id tellus lacus.</p>

      <p>Cras et maximus nisi. Mauris mollis feugiat neque, at pellentesque sapien cursus in. Curabitur convallis est ut quam porta suscipit. Duis maximus, nulla quis fermentum lacinia, velit velit ultricies urna, id auctor sapien massa sed augue. Mauris facilisis odio sed metus imperdiet consectetur. Duis vel lectus eu ante tempus dignissim ac id purus. Vivamus fermentum lectus vel metus euismod, a dignissim ipsum malesuada.</p>

      <p>Fusce ultrices rhoncus sapien. Proin eget pretium elit. Suspendisse potenti. Fusce lectus dolor, vulputate et erat non, pellentesque efficitur ipsum. Mauris pellentesque scelerisque quam at tempus. Etiam varius metus ac quam mattis, cursus euismod nulla convallis. Donec rutrum augue ac felis cursus, in molestie est lobortis. Suspendisse consequat tempor purus, ut pharetra diam ultricies sit amet. Phasellus scelerisque lectus sit amet semper consectetur. Pellentesque leo ipsum, euismod eu vestibulum a, sagittis ut dolor.</p>

      <p>In hac habitasse platea dictumst. Pellentesque sed metus vel nibh euismod elementum. Nulla a elit id elit aliquam placerat vel vitae sem. Suspendisse imperdiet lacinia dolor, non vehicula enim hendrerit at. Nullam congue vestibulum ex, quis porta ligula volutpat lobortis. Nulla ac neque nec nisi pulvinar egestas. Phasellus blandit urna vitae neque cursus sagittis. Fusce vestibulum pulvinar euismod. Nam aliquet lorem nec aliquet dictum.</p>

      <p>Cras et tortor eget sapien pulvinar varius. Vestibulum eget ante varius, cursus eros vitae, sollicitudin nunc. Nulla malesuada lacus a congue tristique. Aenean vitae aliquet sapien. In auctor varius mi a posuere. Vivamus at massa massa. Cras sit amet venenatis ligula, tincidunt suscipit elit. Fusce scelerisque ante erat. Ut ac ipsum lobortis, ullamcorper nibh a, porttitor nibh.</p>
    </div>
    <div class="right-column">
    </div>
  </main>
</body>
</html>
