body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

body main {
  padding: 1em 1.5em;
}

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
}

.banner-row-1 {
  background: #fff;
  /* padding: 6px 12px 2px; */
}

.banner-logo {
  padding: 20px 24px 16px;
}

.banner-logo img {
  width: 200px;
}

.banner-logo a {
}

.banner-row-2 {
  background: #17385E;
  color: #fff;
}

.banner-aitg {
  /* border: 1px solid white; */
  float: left;
  white-space: nowrap;
  font-size: 24px;

  margin-top: 20px;
  margin-right: 24px;
  margin-left: 24px;
  padding: 0;
}

.banner-aitg a {
  color: #fff;
  text-decoration: none;
}

.banner-aitg a:hover {
  text-decoration: underline;
}

.banner-menu {
  /* border: 1px solid white; */
  float: left;
  white-space: nowrap;
  font-size: 16px;

  margin-top: 24px;
  margin-right: 12px;
  margin-bottom: 20px;
  margin-left: 6px;
}

.banner-menu ul {
  margin: 0;
  padding: 0;
}

.banner-menu li {
  display: inline;
}

a.menu-button {
  border: 1px solid #17385E;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  padding: 12px 18px;
}

a.menu-button:hover {
  background: #1754a3;
  border: 1px solid #fff;
  text-decoration: underline;
}

.chevron-down::after {
  /* border: 1px solid red; */
  content: url("chevron-down.svg");
  position: relative;
  top: -1px;
  left: 5px;
}
