body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

body main {
  padding: 1em 1.5em;
}

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
}

.banner-row-1 {
  background: #fff;
  /* padding: 6px 12px 2px; */
}

.banner-logo {
  padding: 20px 24px 16px;
}

.banner-logo img {
  width: 200px;
}

.banner-logo a {
}

.banner-row-2 {
  background: #17385E;
  color: #fff;
  /*
  padding-bottom: 16px;
  */
}

.banner-aitg {
  /* border: 1px solid white; */
  float: left;
  white-space: nowrap;
  font-size: 24px;

  margin-top: 20px;
  margin-right: 24px;
  margin-left: 24px;
  padding: 0;
}

.banner-menu {
  /* border: 1px solid white; */
  float: left;
  white-space: nowrap;
  font-size: 16px;

  margin: 0;
  margin-top: 12px;
  margin-bottom: 10px;
  margin-left: 6px;
}

.banner-menu ul {
  margin: 0;
  padding: 0;
}

li.menu-item {
  /* border: 1px solid white; */
  display: inline-block;
  padding: 12px 18px;
}

.menu-item:hover {
  background: #999;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
}
