body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

body main {
  padding: 1em 1.5em;
}

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
}

.banner-row-1 {
  background: #fff;
  padding: 8px 12px 4px;
}

.banner-logo {
  padding: 12px;
}

.banner-logo img {
  width: 200px;
}

.banner-logo a {
}

.banner-row-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  background: #17385E;
  color: #fff;
  padding-left: 24px;
}

.banner-row-2 p {
  grid-column: 1;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 16px;
  padding: 0;
}

.banner-menu-bar {
  border: 1px solid white;
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 1fr;
  font-size: 16px;
}

.menu-bar-item {
  display: flex;
}
